<IfModule mod_rewrite.c>
RewriteEngine on

#RewriteRule ^statics/(.*) statics/$1 [L]



#站点地图
RewriteRule ^sitemaps.html$  goshouye.php?m=content&c=index&a=sitemaps [L]


RewriteRule ^list-([0-9]+)-([0-9]+).html goshouye.php?m=content&c=index&a=lists&catid=$1&page=$2 [L]
RewriteRule ^(bkzn)(.*)/(.*)/list.html$  goshouye.php?m=content&c=index&a=lists&categorydir=$1$2/&catdir=$3&%{QUERY_STRING} [L]





#地方站 31省市
        RewriteRule ^(En|jsj)/(beijing|shanghai|tianjin|chongqing|hebei|shanxi|neimenggu|liaoning|jilin|heilongjiang|jiangsu|zhejiang|anhui|fujian|jiangxi|shandong|henan|hubei|hunan|guangdong|guangxi|hainan|sichuan|guizhou|yunnan|xizang|shanxis|gansu|qinghai|ningxia|xinjiang)(.*)/$ goshouye.php?m=content&c=city&pinyin=$2$3&catdir=$1 [L]

#栏目列表页面

#栏目伪静态
#大类列表分页规则
	
RewriteRule ^(bkzn)/([0-9]+).html goshouye.php?m=content&c=index&a=lists&categorydir=$1&page=$2 [L]
RewriteRule ^(bkzn)(.*)/(.*)/$  goshouye.php?m=content&c=index&a=lists&categorydir=$1$2/&catdir=$3 [L]
RewriteRule ^(bkzn)/$ goshouye.php?m=content&c=index&a=lists&categorydir=$1 [L]







RewriteRule ^list-([0-9]+)-([0-9]+).html goshouye.php?m=content&c=index&a=lists&catid=$1&page=$2 [L]
RewriteRule ^tag-([^\.]*)-([0-9]+)-([0-9]+).html goshouye.php?m=content&c=tag&catid=$2&tag=$1&page=$3 [L]
RewriteRule ^comment-([0-9]+)-([0-9]+)-([0-9]+).html goshouye.php?m=comment&c=index&a=init&commentid=content_$1-$2-$3 [L]
RewriteRule ^specials/gwy/ goshouye.php?m=special&c=index&a=type&specialid=1&typeid=53 [L]
RewriteRule ^tiku-([0-9]+)-([0-9]+)-([0-9]+).html goshouye.php?m=content&c=index&a=show&catid=$1&id=$2&page=$3 [L]

#tags关键词
RewriteRule ^tags-(.*)_([0-9]+)_([0-9]+).html goshouye.php?m=content&c=tag&catid=$2&tag=$1&page=$3  [L]







#自定义seo推广页面
RewriteRule ^r/(.*)/ goshouye.php?m=diypage&c=index&a=init&dirname=$1 [L]
RewriteRule ^$  goshouye.php [L]


#ajax页面调用
RewriteRule ^ajax_(.*)_([0-9]+)-([0-9]+).html goshouye.php?m=ajax&a=$1&catid=$2&page=$3 [L]
RewriteRule ^ajax_(.*).html goshouye.php?m=ajax&a=$1 [L]
</IfModule>