<div class="footcopy"><div class="rskscenter">@2015 执业药师考试题库网 www.51kaozc.com  保留一切权利  客服热线4000188625</div></div>
<div class="rskscenter imgtxtalign">
	<p><img src="/statics/tiku/images/footer_img01.png"><img src="/statics/tiku/images/footer_img02.png"><img src="/statics/tiku/images/footer_img03.png"><img src="/statics/tiku/images/footer_img04.png"></p>
    <p><!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="margin:auto; float:none; width:350px;">
        <a class="bds_qzone">QQ空间</a>
        <a class="bds_tsina">新浪微博</a>
        <a class="bds_tqq">腾讯微博</a>
        <a class="bds_renren">人人网</a>
        <span class="bds_more">更多</span>
		<a class="shareCount"></a>
    </div>
	<!-- Baidu Button END --> </p>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=499558" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();</script>